services:
  redis:
    image: redis:8.4-alpine
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5

  migrate:
    image: cliplink-backend-api:latest
    build:
      context: ../
      args:
        NODE_ENV: production
        CLIPLINK_PACKAGES_TOKEN: ${CLIPLINK_PACKAGES_TOKEN}
    command: npm run migration:run
    depends_on:
      postgres:
        condition: service_healthy
      nats:
        condition: service_healthy
      nats-setup:
        condition: service_completed_successfully
    deploy:
      restart_policy:
        condition: none

  backend-api:
    image: cliplink-backend-api:latest
    build:
      context: ../
      args:
        NODE_ENV: production
        CLIPLINK_PACKAGES_TOKEN: ${CLIPLINK_PACKAGES_TOKEN}
    command: npm run start:prod
    environment:
      NATS_SERVER: nats://nats:4222
    depends_on:
      migrate:
        condition: service_completed_successfully
      nats:
        condition: service_healthy
      nats-setup:
        condition: service_completed_successfully
    deploy:
      replicas: 3
      restart_policy:
        condition: on-failure

  click-worker:
    image: ghcr.io/cliplink/click-worker:latest
    environment:
      PORT: 4001
      APP_NAME: click-worker
      NATS_SERVER: nats://nats:4222
      NATS_STREAM_NAME: CLICKS
      DB_HOST: postgres
      DB_PORT: 5432
      DB_LOGIN: user
      DB_PASSWORD: password
      DB_NAME: cliplink
      DB_ENABLE_LOGGING: false
    ports:
      - "4001:4001"
    depends_on:
      postgres:
        condition: service_healthy
      nats:
        condition: service_healthy

  nats:
    image: nats:2.12.2-alpine
    command: -js -m 8222 -sd /data/jetstream
    ports:
      - "4222:4222"
      - "8222:8222"
    volumes:
      - nats-data:/data/jetstream
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://127.0.0.1:8222/healthz"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s

  nats-box:
    image: natsio/nats-box:0.19.2
    depends_on:
      nats:
        condition: service_healthy
    command: sh -c "nats context save local --server=nats:4222 --select && tail -f /dev/null"
