version: "3.9"

services:
  backend-api:
    build:
      context: ../
      args:
        NODE_ENV: development
    command: npm run dev
    volumes:
      - ./:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy