services:
  backend-api:
    build:
      context: ../
      args:
        NODE_ENV: development
    command: npm run ci:test
    restart: "no"
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_LOGIN: user
      DB_PASSWORD: password
      DB_NAME: cliplink
      DB_ENABLE_LOGGING: false
      REDIS_HOST: redis
      REDIS_PORT: 6379
      NATS_SERVER: nats://nats:4222
      JWT_SECRET: secret
      ACCESS_TOKEN_EXPIRES: '1d'