name: Tests

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run tests
        run: |
          docker compose \
            -f ./docker-compose/docker-compose.yml \
            -f ./docker-compose/docker-compose.test.yml \
            up --build --exit-code-from backend-api

      - name: Cleanup
        if: always()
        run: docker compose down -v